html{
    background-color:#f8ffe5;
}
.show-image{
    margin-left: 41%;
}
h3{
    font-size: 300%;
    font-weight: 50;
    text-align: center;
}
img{
    text-align: center;
}
h4{
    font-weight: 100;
}