html{
    background-color: #FFCDB2;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card{
    background-color: #FFB4A2;
    max-height: auto;
    width: 50%;
    align-self: center;
}
.card-content{
    background-color:#E5989B ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image{
    float: left;
    padding: 5%
}

.card-title{
    font-size: 70px;
    font-weight: 500;
    text-align: center;
}
.card-description{
    font-size: 30px;
    max-width: 30%;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
.card-score{
    font-size: 60px;
    text-align: center;
}
img{
    text-align: center;
}
h4{
    font-weight: 100;
}